.portlet {


li.btn a.button {
    color: @grayscale11;
}

a.btn {
    color: @grayscale11;
}

}

 .up-portlet-titlebar {
 	background-color: @grayscale12; 
        background-color: @grayscale12;
        #gradient > .vertical(lighten(@grayscale13, 5%), darken(@grayscale13, 10%), 0%, 100%);
        .border(@grayscale16);
        border-bottom: none;
        .border-radiuses-top(@portlet-border-radius);
        position: relative;
}
