.portlet {


li.btn a.button {
    color: @grayscale11;
}

a.btn {
    color: @grayscale11;
}

}

 .up-portlet-titlebar {
 	background-color: @grayscale12; 
        background-color: @grayscale12;
        #gradient > .vertical(lighten(@grayscale13, 5%), darken(@grayscale13, 10%), 0%, 100%);
        .border(@grayscale16);
        border-bottom: none;
        .border-radiuses-top(@portlet-border-radius);
        position: relative;


        h2 {
            font-size: 14px;
            padding: 7px 7px;
            margin: 0;
            list-style: none;
            line-height: 20px;
            a {
                color: @grayscale14;
                &:hover {
                    color: darken(@grayscale14, 20%)
                }
            }
        }

        .btn-group {
            position: absolute;
            top: 2px;
            right: 0;
            margin: 0;

            >a {
                color: @grayscale15;
                font-size: 11px;
                font-weight: normal;
                .caret {
                    border-top-color: @grayscale15;
        }
                &:hover {
                    color: @@grayscale17;

        .caret {
                        border-top-color: @@grayscale17;
                    }
                }
            }
        }
    }
