

//style over-ride from portlet.less 
.portlet {


li.btn a.button {
    color: @grayscale11;
}

a.btn {
    color: @grayscale11;
}

} //end of .portlet




// style over-ride from content.less 
.portal {
//style over-ride from tags.less
body {
    background-color: @grayscale15; 
    background-image: none;
}

 //background-color: @black; 

.up-portlet-titlebar { // portlets header box background color  

 	background-color: @grayscale12; /* Old browsers */
        background-color: @grayscale12; 
        #gradient > .vertical(lighten(@grayscale12, 5%), darken(@grayscale12, 10%), 0%, 100%);// portlets header box background color  
        .border(@grayscale17); // top border line (one line across the top) of portlets header box 
        
 h2 {
          a {
                color: @grayscale13;// header text color and possibly the text within the options dropdown box? 
                &:hover {
                    color: darken(@white, 20%) //hover over URL text heading and it shades this color
                } // end of hover
            } // end of a 
        }// end of h2

.btn-group {

            .a {
                color: @grayscale11; //"options" section in right corner of portlets  
		} // end of a 
		.caret {
                    border-top-color: @grayscale15;
		} //end of .caret 
		&:hover {
                    color: @grayscale14;
      		.caret {
                        border-top-color: @grayscale16;
                    } // of of .caret 
               } // end of hover
	} // end of .btn-group 	
} // end of .up-portlet-titlebar 

  .up-portlet-content-wrapper {
        background-color: @grayscale14; // background color of portlets 
	.border(@grayscale11);// border of portlets (excluding the top) --> |_|
    } // end of .up-portlet-content-wrapper

 // style over-ride from footer.less 
 .portal-footer-nav {
        
	background: @grayscale11; // footer "welcome" box 
        color: @grayscale13;

        a {      
	   color: @grayscale17; // text color within the "welcome" box but excluding the word "welcome"
            &:hover, &:focus {
                color: @grayscale18; // highlight text the mouse is hovering over 
            } // end of hover
        } // end of a 

        h4 a {
            color: @grayscale13; // text color of the word "welcome" 
            
            &:hover, &:focus {
                color: @grayscale14;  // highlight "welcome" text when mouse is hovering over 
            }// end of hover
        }// end of h4 a 
    }// end of .portal-footer-nav 



  .portal-footer-legal {
	background: @grayscale12; // bottom footer box "powered by uPortal" 
        color: @grayscale14;// text (non-URLs) color within bottom footer box 
        a {
 		color: @grayscale17; // text URL links  
            &:hover, &:focus {
		color: @grayscale18; // highlight text URL link when the mouse is hovering over 
            } //end of hover
        } // end of a 
    } // end of .portal-footer-legal 


//style over-ride from region.less
#region-customize {

 #customizeOptions {
            background-color: @grayscale18;
            .border(@grayscale16); // border around dropdown box
        }
}//end of region-customize


} // end of .portal
